html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .header-top {
  height: 45px;
  width: 100%;
}
.header .header-top .container .row .col-md-6 ul li {
  list-style-type: none;
  padding: 10px;
}
.header .header-top .container .row .col-md-6 ul li a {
  text-decoration: none;
  color: black;
}
.header .header-icon:hover {
  background-color: rgb(66, 66, 240);
}
.header .header-icons:hover {
  background-color: rgb(179, 38, 28);
}
.header .header-middle {
  height: 80px;
}
.header .header-middle .container {
  border-bottom: 2px solid gray;
}
.header .header-middle .container .row .col-md-4 .logo a img {
  width: 100px;
  padding-top: 10px;
}
.header .header-middle .col-md-8 .shop-menu ul {
  list-style-type: none;
}
.header .header-middle .col-md-8 .shop-menu ul li {
  padding: 25px 20px 0 0;
}
.header .header-middle .col-md-8 .shop-menu ul li a {
  text-decoration: none;
  color: black;
}
.header .header-middle .col-md-8 .shop-menu ul li a:hover {
  color: #fe980f;
}
.header .header-bottom {
  height: 60px;
}
.header .header-bottom ul li a:hover {
  color: #fe980f;
}

.slider {
  height: 100vh;
  color: white;
}
.slider #carouselExampleDark {
  height: 500px;
}
.slider #carouselExampleDark .slider-top .container .row .carousel-item .slider-text {
  position: relative;
  top: 200px;
}
.slider #carouselExampleDark .slider-top .container .row .carousel-item .slider-text .slider-top-button {
  font-size: 18px;
  width: 120px;
  border: 2px solid gold;
  transition: 1s;
}
.slider #carouselExampleDark .slider-top .container .row .carousel-item .slider-text .slider-top-button button {
  color: white;
}
.slider #carouselExampleDark .slider-top .container .row .carousel-item .slider-text .slider-top-button:hover {
  background-color: rgb(240, 227, 57);
}
.slider #carouselExampleDark .slider-top .container .row .carousel-item img {
  width: 500px;
  height: 600px;
}
@media screen and (max-width: 576px) {
  .slider #carouselExampleDark .slider-top .container .row .carousel-item img {
    opacity: 0.7;
    z-index: -2;
  }
}
.slider #carouselExampleDark .slider-top .container .row .carousel-item .slider2 {
  position: relative;
  top: -60px;
}
.slider #carouselExampleDark .slider-top .container .row .carousel-item .slider3 {
  position: relative;
  top: -120px;
  width: 500px;
  height: 700px;
}

.navigation {
  box-sizing: border-box;
}
.navigation .navigation-left {
  height: 111%;
  width: 100%;
  background: linear-gradient(to right, #33624d, #799d63) !important;
  position: absolute;
  top: 0;
  z-index: -4;
}
@media screen and (max-width: 576px) {
  .navigation .navigation-left {
    height: 150%;
  }
}
@media screen and (max-width: 576px) {
  .navigation .navigation-left {
    height: 120%;
  }
}
.navigation .navigation-right {
  height: 90%;
  width: 50%;
  background: linear-gradient(to left, #a3c88b, #d1ecc3);
  position: absolute;
  top: 143px;
  right: 0;
  z-index: -3;
  border-radius: 100px 0 0 20px;
}
@media screen and (max-width: 576px) {
  .navigation .navigation-right {
    border-radius: 50px;
    width: 80%;
    height: 85%;
    margin: auto;
    position: absolute;
    top: 200px;
    right: 50px;
  }
}

.main {
  height: 100vh;
}
.main .container .row .main-text {
  text-align: center;
  color: #ffd700;
}
.main .container .row .main-top-title {
  width: 45%;
  height: 300px;
  margin: 28px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.main .container .row .main-top-title .main-top-titles {
  width: 30%;
  height: 250px;
  background: linear-gradient(to top, #33624d, #799d63);
  position: relative;
  left: -50px;
  top: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: width 1s, height 1s;
}
.main .container .row .main-top-title .main-top-titles:hover {
  width: 112%;
}
.main .container .row .main-top-title .main-top-img {
  width: 250px;
  height: 250px;
  position: relative;
  top: -240px;
  left: -40px;
  opacity: 0.8;
}
.main .container .row .main-top-title .main-top-text {
  position: relative;
  top: -480px;
  left: 140px;
  max-width: 350px;
  font-weight: 600;
}
.main .container .row .main-top-title .main-top-text p span {
  font-weight: 600;
  font-size: 18px;
  color: #ffd700;
}
.main .container .row .main-top-title .main-top-text .main-top-btn a {
  position: relative;
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 30px;
  color: black;
  border: 0.5px solid #ffd700;
  z-index: 1;
  transition: color 0.5s;
}
.main .container .row .main-top-title .main-top-text .main-top-btn a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #33624d, #799d63);
  z-index: -1;
  transition: 0.5s;
}
.main .container .row .main-top-title .main-top-text .main-top-btn a:hover span {
  width: 100%;
}
.main .container .row .main-top-title .main-top-text .main-top-btn a:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .row {
    margin: auto;
  }
  .row .main-top-title {
    width: 98% !important;
  }
}
@media screen and (max-width: 576px) {
  .row {
    margin-left: 20px !important;
    margin-top: 50px !important;
  }
  .row .main-top-title {
    width: 98% !important;
  }
}
.content {
  position: relative;
  top: 80%;
  height: 50%;
}
.content .container .row .carousel .carousel-inner .content-text {
  text-align: center;
  margin: 10px;
  color: #ffd700;
}
.content .container .row .carousel .carousel-inner .carousel-item .container .row .content-title {
  width: 20%;
  background: linear-gradient(to right, #33624d, #799d63) !important;
  margin: 10px 0 0 45px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
}
.content .container .row .carousel .carousel-inner .carousel-item .container .row .content-title .content-title-tex {
  color: #ffd700;
  font-size: 20px;
  font-weight: 800;
}
.content .container .row .carousel .carousel-inner .carousel-item .container .row .content-title .content-img {
  width: 100%;
  height: 150px;
}
.content .container .row .carousel .carousel-inner .carousel-item .container .row .content-title .content-top-btn a {
  position: relative;
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 30px;
  color: black;
  border: 0.5px solid #ffd700;
  z-index: 1;
  transition: color 0.5s;
}
.content .container .row .carousel .carousel-inner .carousel-item .container .row .content-title .content-top-btn a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffd700;
  z-index: -1;
  transition: 0.5s;
}
.content .container .row .carousel .carousel-inner .carousel-item .container .row .content-title .content-top-btn a:hover span {
  width: 100%;
}
.content .container .row .carousel .carousel-inner .carousel-item .container .row .content-title .content-top-btn a:hover {
  color: white;
}

@media screen and (max-width: 992px) {
  .carousel-inner {
    position: relative;
    top: 500px;
  }
  .content-title {
    width: 35% !important;
    margin-top: 40px;
  }
}
@media screen and (max-width: 567px) {
  .carousel-inner {
    position: relative;
    top: 850px;
  }
  .content-title {
    width: 60% !important;
    margin: auto !important;
    margin-top: 30px !important;
  }
}
.fooder {
  height: 100vh;
  background: linear-gradient(to top, #33624d, #799d63);
  border-bottom: 2px solid gray;
  position: relative;
  top: 750px;
}
.fooder .footer-top .container .row .col-sm-2 {
  margin-top: 20px;
}
.fooder .footer-top .container .row .col-sm-2 .companyinfo img {
  width: 80%;
}
.fooder .footer-top .container .row .col-sm-7 .col-sm-3 {
  margin-top: 30px;
  float: left;
}
.fooder .footer-top .container .row .col-sm-7 .col-sm-3 .video-gallery {
  margin: 10px;
}
.fooder .footer-top .container .row .col-sm-7 .col-sm-3 .video-gallery a .iframe-img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fooder .footer-top .container .row .col-sm-7 .col-sm-3 .video-gallery a .iframe-img img {
  width: 140px;
  height: 100px;
  z-index: -1;
}
.fooder .footer-top .container .row .col-sm-7 .col-sm-3 .video-gallery a .overlay-icon {
  height: 100px;
  position: relative;
  top: -100px;
  transition: 1s;
}
.fooder .footer-top .container .row .col-sm-7 .col-sm-3 .video-gallery a .overlay-icon .bi {
  position: relative;
  top: 40px;
  color: white;
  opacity: 1;
  z-index: 2;
}
.fooder .footer-top .container .row .col-sm-7 .col-sm-3 .video-gallery a .overlay-icon:hover {
  background: yellow;
  z-index: 1;
}
.fooder .footer-top .container .row .col-sm-7 .col-sm-3 .video-gallery .video-gallery-text {
  position: relative;
  top: -80px;
}
.fooder .footer-top .container .row .col-sm-3 .address img {
  width: 130%;
  height: 250px;
  opacity: 0.5;
}
.fooder .footer-top .container .row .col-sm-3 .address .address-text {
  position: relative;
  top: -150px;
  margin-left: 50px;
}
.fooder .footer-widget .container .row .col-sm-2 .single-widget {
  margin: 10px;
}
.fooder .footer-widget .container .row .col-sm-2 .single-widget h2 {
  margin-bottom: 20px;
}
.fooder .footer-widget .container .row .col-sm-2 .single-widget ul {
  list-style-type: none;
}
.fooder .footer-widget .container .row .col-sm-2 .single-widget ul li {
  padding: 5px;
}
.fooder .footer-widget .container .row .col-sm-2 .single-widget ul li a {
  text-decoration: none;
  color: black;
}
.fooder .footer-widget .container .row .col-sm-3 {
  margin: 10px;
}
.fooder .footer-widget .container .row .col-sm-3 .single-widget h2 {
  margin-bottom: 20px;
}
.fooder .footer-widget .container .row .col-sm-3 .single-widget form .btn-default {
  background: #ffd700;
}
.fooder .footer-widget .container .row .col-sm-3 .single-widget form p {
  margin-top: 10px;
}
.fooder .footer-bottom .container .row .pull-left {
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .fooder {
    position: relative;
    top: 1600px;
    height: 110%;
  }
  .fooder .address {
    width: 80% !important;
  }
}
@media screen and (max-width: 567px) {
  .fooder {
    position: relative;
    top: 2500px;
    height: 290%;
  }
  .fooder .address {
    width: 80% !important;
  }
}/*# sourceMappingURL=style.css.map */